asgiref==3.11.1
certifi==2026.1.4
charset-normalizer==3.4.7
crispy-bootstrap5==2026.3
distlib==0.4.0
dj-database-url==3.1.2
dj-email-url==1.0.6
Django==6.0.2
django-allauth==65.16.1
django-auth-style==0.15.0
django-cache-url==3.4.6
django-ckeditor==6.7.3
django-crispy-forms==2.6
django-debug-toolbar==6.3.0
django-jalali-date==2.0.0
django-js-asset==3.1.2
django-phonenumber-field==8.4.0
django-rosetta==0.10.3
environs==15.0.1
filelock==3.20.3
idna==3.14
jalali_core==1.0.0
jdatetime==5.3.0
marshmallow==4.3.0
mysqlclient==2.2.8
numpy==2.4.0
packaging==26.0
pandas==2.3.3
phonenumbers==9.0.31
pillow==12.2.0
pipenv==2026.0.3
platformdirs==4.5.1
polib==1.2.0
psycopg2-binary==2.9.11
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
pytz==2025.2
requests==2.34.0
setuptools==80.10.2
six==1.17.0
sqlparse==0.5.5
termcolor==3.2.0
tzdata==2025.3
urllib3==2.7.0
virtualenv==20.36.1
