asgiref==3.11.1
certifi==2026.1.4
crispy-bootstrap5==2026.3
distlib==0.4.0
Django==6.0.2
django-allauth==65.16.1
django-crispy-forms==2.6
django-debug-toolbar==6.3.0
filelock==3.20.3
mysqlclient==2.2.8
numpy==2.4.0
packaging==26.0
pandas==2.3.3
pipenv==2026.0.3
platformdirs==4.5.1
psycopg2-binary==2.9.11
python-dateutil==2.9.0.post0
pytz==2025.2
setuptools==80.10.2
six==1.17.0
sqlparse==0.5.5
termcolor==3.2.0
tzdata==2025.3
virtualenv==20.36.1
