{% extends "_base.html" %}

{% block content %}
<h1>
    درباره ما
«کتابکده کسری» با هدف ارتقاء کیفیت نشر به ویژه در حوزه تخصصی معماری، فعالیت خود را در سال ۱۳۸۵ آغاز نمود و در سال ۱۳۸۹ با اخذ مجوز انتشارات، فعالیت خود را در زمینه انتشار کتب تخصصی در زمینه هنر، معماری و شهرسازی گسترش داد. این انتشارات با قریب به یکصد و پنجاه عنوان کتاب تخصصی، همکاری با اساتید، دانشگاه‌ها و نهادهای گوناگون را در کارنامه کاری خود دارد. محدوده آثار این انتشارات گستره متنوعی از کتب پایه و مقدماتی تا پیشرفته و از موضوعات کاربردی تا تئوری را در بر گرفته؛ از این رو مخاطبین انتشارات شامل طیف وسیعی از دانشجویان مقاطع گوناگون و اساتید دانشگاه، طراحان و فعالان حرفه‌ای، مدیران و برنامه‌ریزان و… می‌گردد.

انتشارات کتابکده کسری در تلاش است با توسعه همکاری‌های علمی مستمر با ارگان‌های رسمی، مؤسسات آموزشی-پژوهشی و نهادهای خصوصی فعال در بخش‌های مختلف حرفه‌ای، هرچه بیش‌تر در جهت ارائه محتوای متناسب با نیازهای علمی و فنی مخاطبین خود گام برداشته و از سوی دیگر با حمایت از آثار پیش‌رو در کنار جریان انتقادی در جهت توسعه مرزهای اندیشه‌ای ایفای نقش نماید.
</h1>
{% endblock content %}