{% extends "_base.html" %}

{% block content %}
<h1>
    شرایط سفارش
۱- عضویت در سایت: توصیه می‌شود به منظور دریافت رسید خرید خود و آگاهی از روند آماده‌سازی و ارسال سفارش، در سایت ثبت نام کنید. اطلاعات مربوط به سفارش از طریق ایمیل در اختیار خریداران گرامی قرار خواهد گرفت.
۲- درگاه پرداخت اینترنتی: برای انتقال به درگاه بانکی و انجام عملیات پرداخت، هرگونه فیلترشکن و پروکسی و یا وی‌پی‌ان باید غیرفعال باشد، در غیر این‌صورت عملیات با خطا مواجه خواهد شد.
۳- کدرهگیری مرسوله پستی: پس از تحویل سفارش به پست، شماره مرسوله از طریق پیامک در اختیار مشتری قرار خواهد گرفت تا در صورت لزوم سفارش خود را رهگیری نماید. لذا ثبت شماره تلفن همراه برای دریافت پیامک تاییده سفارش و کدرهگیری پستی الزامی است.
۴- آماده‌سازی، ارسال و زمان دریافت سفارش: روند آماده‌سازی و ارسال سفارشات منوط به اتمام مراحل ثبت سفارش و پرداخت بوده و روز کاری بعد آغاز می‌گردد. زمان تحویل کتاب، به نوع پست انتخابی توسط خریدار و سرعت ارائه خدمات توسط شرکت پست بستگی خواهد داشت. سفارشات حداکثر یک روز کاری بعد از ثبت توسط خریدار، مطابق نوع سرویس پستی انتخاب شده، تحویل پست می‌گردد. مسئولیت تأخیرهای احتمالی در ارائه خدمات پستی به عهده این فروشگاه نبوده و بایستی از طریق «سامانه رهگیری مرسولات پستی» توسط خریدار پیگیری شود.
۵- تضمین کیفیت و سلامت محصولات: کتاب‌های عرضه شده توسط فروشگاه اینترنتی، پیش از ارسال مورد بررسی دقیق از نظر سلامت فیزیکی قرار می‌گیرند. خریداران باید پیش از قبول بسته پستی، از عدم آسیب‌دیدگی آن اطمینان حاصل نمایند.
۶- جبران خسارت: بر اساس قراردادهای منعقده با پست، مسئولیت کلیه مرسوله‌های پستی پس از تحویل به پست بر عهده شرکت پست است. کلیه بسته‌های پستی بیمه هستند و جبران خسارت‌های احتمالی بر عهده فروشنده نخواهد بود.
۷- تضمین موجودی و قیمت: اطلاعات روی سایت از نظر موجودی کتاب و قیمت به روز بوده و فروشگاه اینترنتی موظف است که سفارشات ثبت شده و پرداخت شده را مطابق اطلاعات کالای سفارشی تحویل نماید.
۸- حفظ اطلاعات و حریم خصوصی: دریافت اطلاعات مشتریان (نام، آدرس، شماره تلفن و…) صرفا برای تحویل سفارش و ارائه خدمات هرچه بهتر سایت است و به هیچ عنوان در اختیار شخص سوم قرار نخواهد گرفت.
۹- دقت در ثبت اطلاعات: نام، آدرس، کد پستی و سایر اطلاعات مشتریان بایستی دقیق و کامل درج گردد. در صورت بازگشت مرسوله به دلیل نقص و اشکال در اطلاعات ثبت‌شده، و یا عدم حضور گیرنده در محل، مسئولیت آن بر عهده مشتری است و ارسال دوباره مشمول پرداخت مجدد هزینه ارسال خواهد بود.
۱۰- بازپرداخت وجه سفارش: استرداد وجوه مربوط به سفارشات لغو شده توسط مشتری و یا بسته‌های مرجوعی پست، آخر هرماه و با کسر هزینه پستی و هزینه انتقال وجه صورت خواهد گرفت.
</h1>
{% endblock content %}