{% extends "_base.html" %}
{% load i18n %}
{% block content %}


انتشارات کتابکده کسری با نگاه ویژه به جریان روز معماری و رشته‌های وابسته، با اساتید، دانش‌پژوهان و صاحب‌نظران همکاری می‌نماید تا با انتشار آثار تالیف و ترجمه، از تولید محتوای ارزشمند حمایت نماید.

همگرایی نگاه‌های منتوع، اساس دگرگونی و رشد است. از این رو ما از ایده‌های نو و تعریف پروژه‌های جدید در حوزه فعالیت‌های انتشارات پشتیبانی کرده؛ توان و تجربه خود را برای تحقق ایده‌ها و مشارکت در پروژه‌ها، در اختیار صاحبان ایده قرار می‌دهیم.

نظر به ضرورت مستندسازی فعالیت‌های آموزشی، پژوهشی و حرفه‌ای، ما به عنوان نهاد نشر و بخشی از جامعه معماری، با سایر نهادها و ارکان حرفه‌ای رسمی و خصوصی گوناگون همکاری نموده و از گسترش این ارتباطات در جهت انعکاس فعالیت‌ها و دستاوردها استقبال می‌نماییم.

برای مشاوره و همکاری در انتشار آثار ترجمه و تألیف، اجرای پروژه‌های نشر و مستندسازی فعالیت‌های آموزشی، پژوهشی و حرفه‌ای، ما در کنار شما هستیم. با ما در ارتباط باشید...

همچنین این انتشارات از تمامی افراد خلاق و علاقه‌مند به نشر و تولید محتوا، اعم از گرافیست، ویراستار تخصصی و متخصصین رسانه‌های دیجیتال دعوت به همکاری می‌نماید. برای ثبت درخواست همکاری، مشخصات، رزومه و نوع علاقه کاری خود را به آدرس ایمیل kasrapublishing@gmail.com ارسال نمایید.

{% endblock content %}