<!-- topheader.html -->
<div class="breadcrumb-area header-breadcrumb">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12">
                <div class="page-title-wrapper">
                    <div class="page-title-box">
                        <h1 class="page-title-box__text">{{ header_name }}</h1>
                        {% if icon %}
                            <span class="page-title-box__icon">
                                <i class="{{ icon }}"></i>
                            </span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>