.custom-datetime-wrapper {
    position: relative;
    width: 100%;
}

.custom-jalali-datetime-input {
    cursor: pointer !important;
    background: #fff !important;
}

.custom-jalali-calendar {
    font-family: inherit;
    direction: rtl;
}